<p>movie-list works!</p>
<button mat-flat-button>Click me!</button>

<h2>Lista de Peliculas</h2>

<div>
    @for (movie of movies; track $index) {
        <h3>{{movie.title}}</h3>
        <p>{{movie.body}}</p>
    }
</div>

<form (submit)="submit()">
    <mat-form-field>
        <mat-label>Movie Title</mat-label>
        <input type="text" matInput name="title" required="">
        <mat-error>Movie title is required</mat-error>
    </mat-form-field>
    <button mat-flat-button>Enviar</button>
    <button type="button" mat-flat-button>Cancelar</button>
</form>
