<main>
    <div>
        <h2>Sign Up</h2>
        <form [formGroup]="form" (submit)="signup()">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="name" type="text" formControlName="name">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="email" type="text" formControlName="email">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" type="text" formControlName="password">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="confirm password" type="text" formControlName="confirm">
                </mat-form-field>
            </div>
            <div>
                <label>
                    <input name="terms" type="checkbox" formControlName="accept">
                    Accept terms and conditions
                </label>
            </div>
            <div>
                <button [disabled]="form.invalid">Save</button>
            </div>
        </form>
    </div>
</main>